body{
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
#header{
    border: 5px solid;
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    background: linear-gradient(to bottom right, rgb(39, 213, 213), rgb(235, 232, 232));
    color: black;
}
#nav{
    display: inline-block;
    background-color: rgb(22, 3, 69);
}
#images{
    display: list-item none;
    margin-top: 20px;
    margin-left: 292px;
    margin-right: 292px;
    width: auto;
    height: 405px;
}
img{
    border: 4px solid black;
}
#intro{
    font-size: 30px;
    background-color: rgb(22, 22, 36);
    color: white;
    text-align: center;
    margin-top: 10px;
}
#summary{
    display: flex;
    width: auto;
    height: 200px;
    margin-right: 300px;
    margin-left: 300px;
    font-size: 20px;
}


footer{
    margin: 0px;
    text-align: center; 
    margin-top: 20px; 
    background: linear-gradient(to bottom left, rgb(22, 22, 36), rgb(11, 10, 20)); 
    color: white
}