<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<!--<img src="img/logo.png" alt="logo">-->


<main class="container text-center" style="background-image: url(./../../public/img/Rvv.jpeg);">
    <div class="jumbotron">
        <h1 style="margin-top: 20px; color: dodgerblue; font-family: 'Arial', sans-serif; font-size: 36px;">Welcome to My Website!</h1>
        <h2 style="margin-top: 20px; color: #333; font-family: 'Arial', sans-serif; font-size: 24px;">Exploring Opportunities Together</h2>
        <p style="margin-top: 20px; font-size: 16px; font-family: 'Arial', sans-serif; color: #555;">At Ranvir's Website, our mission is to empower businesses and individuals by delivering exceptional web development, mobile application development, and software documentation services. We strive to create innovative and user-friendly digital solutions that drive success and growth for our clients. With our expertise, we aim to transform ideas into impactful digital experiences, leveraging cutting-edge technologies and meticulous attention to detail. Our commitment to excellence, customer satisfaction, and continuous improvement enables us to exceed expectations and become trusted partners in our clients' digital journeys. Together, we can bring visions to life and shape the future of technology.</p>
        <h2 style="margin-top: 40px; color: dodgerblue; font-family: 'Arial', sans-serif; font-size: 24px;">Explore Our Pages:</h2>
        <ul style="list-style-type: none; padding: 0; margin-top: 20px;">
            <li style="margin-bottom: 10px;">
                <a class="btn btn-primary btn-lg" href="/about" style="margin-right: 10px; background-color: dodgerblue; color: white; font-family: 'Arial', sans-serif;">About Me</a>
            </li>
            <li style="margin-bottom: 10px;">
                <a class="btn btn-primary btn-lg" href="/projects" style="margin-right: 10px; background-color: #ff9800; color: white; font-family: 'Arial', sans-serif;">Projects</a>
            </li>
            <li style="margin-bottom: 10px;">
                <a class="btn btn-primary btn-lg" href="/services" style="margin-right: 10px; background-color: #4caf50; color: white; font-family: 'Arial', sans-serif;">Services</a>
            </li>
            <li style="margin-bottom: 10px;">
                <a class="btn btn-primary btn-lg" href="/contact" style="background-color: #f44336; color: white; font-family: 'Arial', sans-serif;">Contact</a>
            </li>
        </ul>
    </div>
</main>

<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>
